
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Python distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Agent folders (generated)
*_agent/
